* {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body.dark {
      margin: 0;
      height: 100vh;
      background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
      display: flex;
      align-items: center;
      justify-content: center;
      color: orange;
    }
    body.light {
     background: #f0f0f0;
      color: #111;
    }
    
    .container {
      text-align: center;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 40px;
      letter-spacing: 2px;
    }

    .btn {
      display: block;
      width: 220px;
      margin: 15px auto;
      padding: 15px;
      font-size: 1.2rem;
      background: #2e2e2e;
      color: white;
      border: 2px solid #555;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    body.light .btn {
      background: #ddd
        color: #111
        border-color: #aaa  ;
    }
    
    .btn:hover {
      background: #444;
      transform: scale(1.05);
    }
    .toggle-btn{
      position: fixed;
      top: 20px;
      right: 20px
      background: none;
      border: none;
      font-size: 28px;
      cursor: pointer;
    }
